# Python
__pycache__/
.venv/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Temporary and Sync Files
.tmp.drivedownload/
.tmp.driveupload/
.git_broken_refs/
*.tmp
dl_status.tmp

# Logs
*.log
streamlit.err.log
streamlit.out.log

# IDEs
.vscode/
.idea/

# OS files
Thumbs.db
Desktop.ini
desktop.ini
*.bak

# Project Specific
# Argus_Secure_Sync.exe  # Un-comment if you don't want to track the sync tool

