langchain
langchain-ollama
langchain-classic
langchain-huggingface
langchain-community
langchain-core
langchain-text-splitters
streamlit
# Added duckduckgo_search for web search capability
duckduckgo_search
faiss-cpu
sentence-transformers
pypdf
python-dotenv
paramiko
torchvision